/*will be used for spoken text*/
.speech{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18;
    color: black;
}
/*will be used for directions*/
.direction{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16;
}
/*will be used when hovered on directions*/
.direction:hover{
    color:black;
    background-color:ghostwhite;
}
/*for character Mrs.Elvsted*/
.elvsted{
    color: red;
}
/*for character Berta*/
.berta{
    color: green;
}
th{
    border: solid 2px yellow;
    text-align:center;
    margin: 25px 50px 25px 50px;
    color:deeppink ;
    font-size:x-large;
    }
td{
    border: dotted 1px black;
    text-align:center;
    padding: 20px 25px 20px 25px;
    font-size:large;
    }
tr:nth-child(even) {
        color: rgb(0, 4, 255);
    }
.collapsing{
    border: solid 3px red;
    border-collapse:initial;
    } 
