/*will be used for spoken text*/
.speech{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18;
    color: black;
}
/*will be used for directions*/
.direction{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16;
}
/*will be used when hovered on directions*/
.direction:hover{
    color: black;
    background-color: ghostwhite;
}
/*for charecter Mrs.Elvsted*/
.elvsted{
    color: red;
}
/*for character Berta*/
.berta{
    color: green;
}