/*will be used for spoken text*/
.speech{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18;
    color: black;
}
/*will be used for directions*/
.direction{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16;
    color: black;
    background-color: ghostwhite;
}
/*will be used when hovered on directions*/
.direction:hover{
    color:blue;
    background-color:aquamarine;
}
/*for character Mrs.Elvsted*/
.elvsted{
    color: red;
}
/*for character Berta*/
.berta{
    color: green;
}
th{
    border: solid 2px yellow;
    text-align:center;
    margin: 25px 50px 25px 50px;
    color:deeppink ;
    font-size:x-large;
    }
td{
    border: dotted 1px black;
    text-align:center;
    padding: 20px 25px 20px 25px;
    font-size:large;
    }
tr:nth-child(even) {
        color: rgb(0, 4, 255);
    }
.collapsing{
    border: solid 3px red;
    border-collapse:initial;
    }
h4:hover{
    text-shadow: 2px 2px 5px grey;
    border:solid brown;
}
ul.navbar-horizontal {
    /* remove these */
    list-style-type: none;
    background-color:beige;
    border: solid;
    margin: 0;
    padding: 5px;
    width: 100%;
    }
    /*ul.navbar-horizontal li{
        display:inline-block;
    }*/
   ul.navbar-horizontal li {
    
    color:black;
    display:inline-block;
    border: solid;
    font-size:large;
    padding:8px;
    }
   /* ul.navbar-horizontal a {
    display:block;
    padding:8px
    background-color:#555;
    color:white;
    }
    */
